<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ragad</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/index.js"></script>
</head>
<body>
    <%- include("layout/header")  %>
    <main>
        <h1>Welcome to the Weather App </h1>
    </main>
    <%- include("layout/footer")  %>
</body>
</html>