<header>
    Weather App
    <nav>
        <ul>
            <li> <a href="/"> Homepage </a> </li>
            <li> <a href="/location"> Search Location</a></li>
            <li> <a href="/weather"> Show Weather</a></li>
        </ul>
    </nav>
</header>